.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  #name2 {
    z-index: 10;
  }

  #crown {
    mix-blend-mode: multiply;
    top:  -9px;
    left: 130px;
    overflow: hidden;
  }

  