.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  #name2 {
    z-index: 10;
  }

  #crown {
    mix-blend-mode: multiply;
    top:  -9px;
    left: 130px;
    overflow: hidden;
  }

  #premium {
    position: absolute;
    width: 150px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    left: 1350px;
    top: 5px;
    overflow: hidden;
  }
  
  #premImg {
    position: absolute;
    height: 30px;
    width: 25px;
    top: 1px;
    left: 4px;
  }