<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Costrajectory &copy;</span>
      <span class="example-spacer"></span>

      <div *ngIf="Authoriation == true">
        <!--
              <p><span style="color:black;" class="fa fa-user fa-lg" aria-hidden="true"></span>&nbsp; {{userName.username.split('@',1)[0]}}</p> -->

              <p style="padding-top: 20px;">
                <img id="crown" *ngIf="isPremium" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw4_JpJJQX7rUIHxThn30iwDl8CzLIHjV-Pov2WMYUiB-zt9YS" height="60" width="60" style="transform:rotate(45deg); position: absolute;"/>
                <!-- <button id="premium" class = "btn btn-primary" *ngIf="!isPremium" (click)="GoPremium()"><img class="img-responsive"  id="premImg" src="assets\images\premium.png" height="30px" width="25px" /> &nbsp; &nbsp;Go Premium!</button>  -->
                <button id="premium" class = "btn btn-primary" *ngIf="!isPremium" data-toggle="modal" data-target="#goPremium"><img class="img-responsive"  id="premImg" src="assets\images\premium.png" height="30px" width="25px" /> &nbsp; &nbsp;Go Premium!</button> 
                {{userName.username.split('@',1)[0]}}
                 <img class="img-responsive" [src]="'data:image/gif;base64,'+base64Data" style="max-height: 35px; max-width: 35px;" />
                 &nbsp;
                <button href="#" style="color:transparent;width:2px;" title="Logout" (click) = "LogOut()" class="btn btn-link"><i class="fa fa-trash fa-2x" aria-hidden="true" style="color:red;"></i></button>
              </p>
      </div>

      <!--
      <div *ngIf="Authoriation == false">
          <a routerLink="/" style="color:white;"><span style="color:black;" class="fa fa-user fa-lg" aria-hidden="true"></span>&nbsp; LOGIN</a>
      </div>
    -->
    
    </mat-toolbar-row>
  </mat-toolbar>

<!-- Modal -->
<div class="modal fade" id="goPremium" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Go Premium!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="grid">
          <img class="img-responsive" src="https://lh3.googleusercontent.com/proxy/IGPgiI4klZXLd1ogufBshVjlTU2dGLCI9ihBocslVY2qwF33F4dI9qtpPitMfEBtJZvFS4U60PGwOI8y3e4yXMhmH9BZ2x2hsdNLRIyWpMK4MGVpXbVv6ey_gHuMNYZIAbikO0Zh0xQoJwaz2kesZMNmQi2smZjfN0Mu4z_4gFLqvd4gw2025mzNR0Fxfob360X38g" height="35px" width="35px"/>
          <p>Get Access to more space upto 400MB!</p>
        </div>
        <div class="grid">
          <img class="img-responsive" src="https://lh3.googleusercontent.com/proxy/IGPgiI4klZXLd1ogufBshVjlTU2dGLCI9ihBocslVY2qwF33F4dI9qtpPitMfEBtJZvFS4U60PGwOI8y3e4yXMhmH9BZ2x2hsdNLRIyWpMK4MGVpXbVv6ey_gHuMNYZIAbikO0Zh0xQoJwaz2kesZMNmQi2smZjfN0Mu4z_4gFLqvd4gw2025mzNR0Fxfob360X38g" height="35px" width="35px"/>
          <p>Get Access to more Analytics!</p>
        </div>
        <div class="grid">
          <img class="img-responsive" src="https://lh3.googleusercontent.com/proxy/IGPgiI4klZXLd1ogufBshVjlTU2dGLCI9ihBocslVY2qwF33F4dI9qtpPitMfEBtJZvFS4U60PGwOI8y3e4yXMhmH9BZ2x2hsdNLRIyWpMK4MGVpXbVv6ey_gHuMNYZIAbikO0Zh0xQoJwaz2kesZMNmQi2smZjfN0Mu4z_4gFLqvd4gw2025mzNR0Fxfob360X38g" height="35px" width="35px"/>
          <p>Get Access to All the beta releases!</p>
        </div>
        <div class="grid">
          <img class="img-responsive" src="https://lh3.googleusercontent.com/proxy/IGPgiI4klZXLd1ogufBshVjlTU2dGLCI9ihBocslVY2qwF33F4dI9qtpPitMfEBtJZvFS4U60PGwOI8y3e4yXMhmH9BZ2x2hsdNLRIyWpMK4MGVpXbVv6ey_gHuMNYZIAbikO0Zh0xQoJwaz2kesZMNmQi2smZjfN0Mu4z_4gFLqvd4gw2025mzNR0Fxfob360X38g" height="35px" width="35px"/>
          <p>Get Exclusive Export options and much more...!!</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="GoPremium()">Go Premium!!!</button>
      </div>
    </div>
  </div>
</div>