<div class="container-fluid" style="padding-top: 30px; padding-left: 120px;">

    <div class="row">
        <div class="col-md-8 order-md-1">
            <p id="left">Track your every expense with breathtaking roadmap and intuitive homepage! </p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="assets\images\track.png" height="250px" width="330px">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-1">
            <img src="assets\images\bills.png" height="250px" width="330px">
        </div>
        <div class="col-md-8 order-md-1">
            <p id="right">Saving bills is easy, a trip to the grocery store or flight ticket to Paris, we've got you covered!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <p id="left">Going the dutch way? Be it a vacation or staying with room mates, sharing was never easier!</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="assets\images\share_money.png" height="250px" width="330px">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-1">
            <img src="assets\images\analytics.png" height="250px" width="330px">
        </div>
        <div class="col-md-8 order-md-1">
            <p id="right">Thoughtful insights with the analytics dashboard to help track your expense & predict your requirement!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
        </div>
    </div>

</div>

