#NavbarHouserHome_ {
    position: sticky;
    top: 0px;
    left: -20px;
    width: 100%;
    z-index: 1;
}

.navbar {
    height: 35px;
    position: relative;
    top: -21px;
    left: -20px;
    width: 105.5%;
}

#SHareSettlementcard {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
    border-radius: 12px;  
    height: 80px;
    width: 105%;
    box-sizing: content-box;
    position: relative;
}
