<div id="NavbarHouserHome_">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="  background-image: linear-gradient(to bottom right, #683ab7, #35cf27);        ">
        <a class="navbar-brand"> Recent Share </a>
    </nav>
</div>

<!-- CONDITIONS: 
     shares > 4,
     shares <= 4, settlement = 2,
     shares <= 4, settlement = 1,
     shares <= 4, settlement = 0 -->

<div class="card-body bg-light" style="padding: 0px;"> 
    <div class="row">
        <div style="display: inline-block; padding: 5px; width: 50%; padding-left: 20px;">
            <div class="card" id="SHareSettlementcard" style="height: 150px; padding: 0px;" *ngFor="let entry of listLeft; let i = index">
                <app-mini-owe-interface *ngIf="entry.type==1" (ChangeEvent)="PostSettlement($event)" [AliasData]="entry.aliasData" [SettlementValue]="entry.amount" [Payer]="entry.shares[0]" [GroupName]="entry.groupName" [GroupId]="entry.groupId"></app-mini-owe-interface>    
            </div>
            <div class="card" id="SHareSettlementcard" *ngFor="let entry of listLeft2; let i = index">
                <app-share-others *ngIf="entry.type==2" [SharedEntry]="entry.shares" [AliasData]="entry.aliasData" [GroupName]="entry.groupName"></app-share-others>
            </div>
        </div>
        <div style="display: inline-block; padding: 5px; width: 47%; padding-left: 20px;">
            <div class="card" id="SHareSettlementcard" style="height: 150px; padding: 0px;" *ngFor="let entry of listRight; let i = index">
                <app-mini-owe-interface *ngIf="entry.type==1" (ChangeEvent)="PostSettlement($event)" [AliasData]="entry.aliasData" [SettlementValue]="entry.amount" [Payer]="entry.shares[0]" [GroupName]="entry.groupName" [GroupId]="entry.groupId"></app-mini-owe-interface>    
            </div>
            <div class="card" id="SHareSettlementcard" *ngFor="let entry of listRight2; let i = index">
                <app-share-others *ngIf="entry.type==2" [SharedEntry]="entry.shares" [AliasData]="entry.aliasData" [GroupName]="entry.groupName"></app-share-others>
            </div>   
        </div>        
    </div>
    
    
</div>