<mat-card>
    <h3>SignUp
<mat-slide-toggle
    (change) = "changeState()">
</mat-slide-toggle>&nbsp; SignIn</h3>
</mat-card>


<div class="container">
                    <div class="fluid-container">
                        <div *ngIf="signup == true">
                            <div class="img"></div>
                            <app-signup (userdata)="authorization($event)"></app-signup>
                        </div>
                        <div *ngIf="signup == false">
                            <div class="img"></div>
                            <app-signin (userdata)="authorization($event)"></app-signin>
                        </div>
                    </div>  
</div>
