<!-- <div class="row"  style="width: 100%; height: 40%; padding: 10px; padding-left: 30px;">
 -->    
 <div class="col-md-12" style="height: 40%; padding: 10px; padding-left: 30px; padding-right: 30px;">
        <div class="card card-body bg-light" style="height: 100%; flex: 0 0 auto; display: flex; padding: 0px;">
            <app-timeline [ShouldLogsBeChanged]="LogChange"></app-timeline>
        </div>
</div>

<div class="row"  style="width: 100%; height: 40%; padding: 10px; padding-left: 30px;">
    <div class="col-md-5">
        <div class="card card-body bg-light" style="height: 100%;">
            <app-recent-bills (RefreshLogs)="ChangeLogStatus()"></app-recent-bills>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card card-body bg-light" style="height: 100%;">
            <app-recent-shares (RefreshLogs)="ChangeLogStatus()"></app-recent-shares>
        </div>
    </div>
</div>