<div class="card-group">
    <div class="card">
        <div class="card-body">
            {{BillEnum}}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {{BillName}}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            {{BillDescription}}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{BillDate}}
        </div>
    </div>

    <div class="card">
        <div class="card-body" title='Press to preview'>
            {{BillAmount}}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <i class="fa fa-clone fa-2x" aria-hidden="true" style="margin-left: 30px;"></i> 
            <i class="fa fa-info fa-2x" aria-hidden="true" style="margin-left: 30px;"></i>
            <i class="fa fa-plus fa-2x" aria-hidden="true" style="margin-left: 30px;"></i>
            <i class="fa fa-trash fa-2x" aria-hidden="true" style="margin-left: 30px;"></i>
        </div>
    </div>
</div>
