<div class="modal-header" style="background-color: rgb(19, 179, 165); color: #000;">
    <h4 class="modal-title" id="exampleModalLongTitle"> Add Bill </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<form #SharedBill="ngForm" (ngSubmit)="UploadBill(SharedBill)">
    <div class="modal-body" style="height: 650px;">
        
        <div class="card card-body bg-light" id="ImageShare">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Bill name :</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-envelope fa-lg" aria-hidden="true" style="color:orange"></i></span>
                        </div>
                        <input #Bname required type="text" placeholder="Enter Bill Name" ngModel name="name" class="form-control" aria-describedby="basic-addon1" />
                      </div>
                </div>
            </div>
            
              <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Description:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-list fa-lg" aria-hidden="true" style="color:black"></i></span>
                        </div>
                        <input required type="test" placeholder="Enter Description" ngModel name="des" class="form-control" aria-describedby="basic-addon3"/>
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Category:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-id-card-o fa-lg" aria-hidden="true" style="color:blueviolet"></i></span>
                        </div>
                        <select class="custom-select" required ngModel name="cat" aria-describedby="basic-addon4">
                            <option value="" disabled>Choose the category</option>
                            <option>Travel</option>
                            <option>Shopping</option>
                            <option>Investments</option>
                            <option>Food</option>
                            <option>Utilities</option>
                            <option>Medical</option>
                            <option>Entertainment</option>
                            <option>Housing</option>
                            <option>Others</option>
                         </select>
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Bill Date:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar fa-lg" aria-hidden="true" style="color:blue"></i></span>
                        </div>
                        <input required type="date" value="10-02-1996" ngModel name="date" class="form-control" aria-describedby="basic-addon5" />
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Bill Image:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon6"><i class="fa fa-file-image-o fa-lg" aria-hidden="true" style="color:green"></i></span>
                        </div>
                        <input #Image type="file" acccept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files)" class="form-control" placeholder="Upload Bill" aria-describedby="basic-addon6" />
                        <div class="input-group-append">
                            <button class="btn-large" [disabled]="Image.value ==''" (click) = "Image.value =''"><i class="fa fa-trash fa-lg" style="color:red"></i></button>                                
                        </div>
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Bill Amount:</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-money fa-lg" aria-hidden="true" style="color:green"></i></span>
                        </div>
                        <input required type="number" placeholder="Enter amount" [ngModel]="Value" (input)="ResetValues($event.target.value)" name="val" class="form-control" aria-describedby="basic-addon2"/>
                    </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                    <label for="staticEmail" class="col-form-label">Paid By :</label>
                </div>
                <div class="col-sm-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user fa-lg" aria-hidden="true" style="color:black"></i></span>
                        </div>
                        <select class="custom-select" required ngModel name="Payee" aria-describedby="basic-addon4">
                          <option value="" disabled>Choose the Payer</option>
                          <option *ngFor="let member of Participants;">{{member}}</option>
                       </select>
                      </div>
                </div>
              </div>
        </div>

        <div class="card card-body bg-light" id="BillDetails" *ngIf="IsShowingSharing">
            <div class="row" style="height: 50px;">
              <div class="col-sm-5"><p align="right"> Bill Sharing <i class="fa fa-users fa-lg" aria-hidden="true" style="color: green;"></i></p></div>
              <div class="col-sm-1" style="padding-right: 50px;">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    (click)="ChangeMode()"
                    [checked]="!IsShowingSharing">
                </mat-slide-toggle>
              </div>
              <div class="col-sm-5"><p align="left"> <i class="fa fa-picture-o fa-lg" aria-hidden="true" style="color: coral;"></i> Image</p></div>
            </div>
            <div *ngFor="let item of Participants; let i = index">
                <div class="form-group row">
                  <div class="col-sm-5">
                    <app-bill-counter [ParticipantIndex]="i" [ParticipantValue]="ValueMapper[i]" (ChangeValue)="ChangeArrayValue($event)"></app-bill-counter>
                  </div>
                  <div class="col-sm-7">
                        <label for="staticEmail" class="col-form-label"><b>{{item}}</b>'s Share</label>
                  </div>  
                </div>
            </div>
        </div>

        <div class="card-body" id="BillDetails" *ngIf="!IsShowingSharing">
          <div class="row" style="height: 50px;">
            <div class="col-sm-5"><p align="right"> Bill Sharing <i class="fa fa-users fa-lg" aria-hidden="true" style="color: green;"></i></p></div>
            <div class="col-sm-1" style="padding-right: 50px;">
              <mat-slide-toggle
                  class="example-margin"
                  [color]="color"
                  (click)="ChangeMode()"
                  [checked]="!IsShowingSharing">
              </mat-slide-toggle>
            </div>
            <div class="col-sm-5"><p align="left"> <i class="fa fa-picture-o fa-lg" aria-hidden="true" style="color: coral;"></i> Image</p></div>
          </div>
          <div class="grid-item" >
            <div class="container-fluid" *ngIf="Image.value ==''">
                <img src="https://sciences.ucf.edu/psychology/wp-content/uploads/sites/63/2019/09/No-Image-Available.png" style="max-width: 80%; max-height: 80%; display: block;" >
            </div>
            <div class="container-fluid" *ngIf="Image.value !==''">
              <img [src]="imageSrc" [alt]="SharedBill.value.name" style="max-width: 80%; max-height: 80%; display: block;" >
            </div>
          </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary btn-submit" data-dismiss="modal" (click)="UploadBill(SharedBill)" [disabled]="!SharedBill.valid">OK!</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel!</button>
    </div>
</form>