 #ErrorOnAddition {
    height: 100px; 
    width: 500px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: rgb(222, 53, 11);
    z-index: 600;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
    animation-name: example;
    animation-duration: 4s;
    transition: background-color 200ms ease 0s;
  }

  #saveUtilitiy {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  
  #saveTUtilitiy {
    position: absolute;
    top: 30px;
    left: 80px;
  }
  
  @keyframes example {
    0%   {background-color:rgb(222, 53, 11); left:-100px;}
    25%  {background-color:rgb(222, 53, 11); left:100px;}
  }