<div class="container-fluid">
    <form #imageForm="ngForm" (ngSubmit)="SubmitChanges(imageForm)">
        <div class="row">
            <div [ngClass]="Image.value ==='' ? 'col-md-12' : 'col-md-6'">
                <div class="container-fluid">
                    <label>Bill name :</label>
                    <input id="name" #Bname required type="text" placeholder="Enter name" [(ngModel)]="BillName" name="name" class="form-control" value="test"/>

                    <label>Bill Amount:</label>
                    <input id="val" required type="number" placeholder="Enter amount" [(ngModel)]="BillAmount" name="val" class="form-control"/>

                    <label>Description:</label>
                    <input id="des" required type="test" placeholder="Enter Description" [(ngModel)]="BillDescription" name="des" class="form-control"/>
                    
                    <label>Date: </label>
                    <input id="date" required type="date" value="10-02-1996" [(ngModel)]="BillDate" name="date" class="form-control"/>

                    <label>File:</label>
                    <input id="file-input" #Image type="file" acccept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files)" class="form-control" placeholder="Upload Bill"/>
                    
                    <button type="submit" class="btn-large btn-submit" [disabled]="!imageForm.valid"><i class="material-icons">save</i></button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="container-fluid" *ngIf="Image.value !==''">
                        <img [src]="imageSrc" [alt]="imageForm.value.name" style="max-width: 90%; max-height: 90%; display: block;" >
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<!--<div class="col-md-6 offset-md-3"></div>-->
<div class="d-flex justify-content-center" *ngIf="uploading == 'started'">
    <div class="spinner-border" role="status">
    </div>
    <p>&nbsp;&nbsp; <b>UPLOADING!!  PLEASE WAIT </b></p>
</div>

<div class="alert alert-danger" role="alert" *ngIf="uploading == 'ended fail'">
    Something went wrong...try again later
</div>

<div class="alert alert-success" role="alert" *ngIf="uploading == 'ended success'">
    Image was uploaded successfully
</div>