<div class="container-fluid">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmudB0jREPK3HtFuR-AmSZFg1nGestfU4VEjwF6MEWuPhNdNYi" alt="" width="72" height="72">
        <h2>Profile</h2>
    </div>

    <div class="row">


        <div class="col-md-12 order-md-1">
            <form class="needs-validation" #imageForm="ngForm" (ngSubmit)="submit(imageForm)">
            <div class="row">
                <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" name="firstName" [(ngModel)]="Fname">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
                </div>
                <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder=""  name="lastName" [(ngModel)]="Lname">
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="username">Username</label>
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" [(ngModel)] = 'usrname' disabled/>
                <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" [(ngModel)]="alternateEmail">
                <div class="invalid-feedback">
                Please enter a valid alternate email address 
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="07, 23c block ... "  name="address" [(ngModel)]="Addr1">
                <div class="invalid-feedback">
                Please enter address.
                </div>
            </div>

            <div class="mb-3">
                <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" name="address2" [(ngModel)]="Addr2">
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="date">Date Of Birth</label>
                    <input type="date" class="form-control" id="date" name="DOB" [(ngModel)]="DOB">
                </div>
                <div class="col-md-5 mb-3">
                    <label for="gender">Gender</label>
                    <select class="custom-select d-block w-100" name="Gender" [(ngModel)]="Gender">
                        <option value="">Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Not to declare</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" name= "country" (change)="onChangeCountry($event.target.value)" [(ngModel)]="Country">
                    <option value="">Choose...</option>
                    <option *ngFor="let country of AllCountries; let i = index" value="{{i}}">{{country.CountryName}}</option>
                    <!-- <option *ngFor="let Country of ['a','b']">{{Country}}</option>  [(ngModel)]="Country"-->
                </select>
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
                </div>
                <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" required="" name="state" [(ngModel)]="State" >
                    <option value="">Choose...</option>
                    <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
                </div>
                <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="number" class="form-control" id="zip" placeholder="" name="zip" [(ngModel)]="Zip">
                <div class="invalid-feedback">
                    Zip code required.
                </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="height:50px; background-color: orange;"  (click)="GoHome()">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="fa fa-home fa-lg" aria-hidden="true"  id="Go"></span>
                            </div>
                            <div class="col-md-8">
                                <p id="Home"> Go Home!</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-md-4 mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="height:50px; background-color: green;">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="fa fa-floppy-o fa-lg" aria-hidden="true" id="Name"></span>
                            </div>
                            <div class="col-md-8">
                                <p id="Save"> Save!</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-md-4 mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="height:50px; background-color: red;" (click)="reset(imageForm)">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="fa fa-trash fa-lg" aria-hidden="true" id="Name"></span>
                            </div>
                            <div class="col-md-8">
                                <p id="Save"> Cancel!</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>

</div>
