#sidebar-wrapper {
    min-height: 100vh;
    margin-left: 0px;
    left: 0px;
    position: relative;
    width: 200px;
    height: 100%;
    z-index: 0;
    display: inline-block;
    padding: 0px;
  }
  
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 198px;
  }
  
  
  #SLIDER {
    display: inline-block; 
    width: calc(90% - 200px); 
    padding-left: 50px; 
    position: relative;
    top:-30px
  }