<div class="row"  style="width: 100%;">
    <div class="col-md-6">
      <div class="card card-body bg-light" style="height: 410px;">
        <h4 style="width:150px; position: relative; left: 67%;"> Anurag A S </h4>
        <p align="justify"><img src="assets\images\dev1.png" style="max-height:350px; max-width:450px; float: left;" hspace="10">
          An Electronics Engineer from SJCE-Mysuru,  passionately working on CPU Verification. I love coding during my free time.
          My hobbies include hiking, rock climbing, and cycling.
          I especially enjoy working with changing projects and taking them forward with a rapid pace but high precision!
          <br><br> <i><b>"The larger the vision, the lesser the chaos!"</b> </i> <br><br><br><br><br><br><br>
          Stay connected! <a href="https://www.linkedin.com/in/anurag-a-s/" class="fa fa-linkedin" target="_blank"></a>
          <a href="https://www.instagram.com/anurag_sampath/" class="fa fa-instagram" target="_blank"></a>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body bg-light" style="height: 410px;">
        <h4 style="width:150px; position: relative; left: 72%;"> Rohit P </h4>
        <p align="justify"><img src="assets\images\dev2.png" style="max-height:360px; max-width:460px;  float: left;" hspace="10">
         I'm currently working as a firmware engineer. I love working on Front End development and UI. My free time
          is mostly spent on coding and reading about new technologies. Complex problems excite me and help me push my
          boundaries!
          <br><br><br><br><br><br><br><br><br>
          Stay connected!  <a href="https://www.linkedin.com/in/rohit-prasad-a622a3107/" class="fa fa-linkedin" target="_blank"></a>
          <a href="https://www.instagram.com/rohitp2512/" class="fa fa-instagram" target="_blank"></a>
        </p>
      </div>
    </div>
</div>
