<mat-toolbar color="primary">
    <mat-toolbar-row> 
        <button type="button" class="btn" title="Home" style="background-color:transparent" (click)="GoHome()"><span class="fa fa-home fa-lg" aria-hidden="true"></span></button>   
        <button type="button" class="btn" title="Add Bill" style="background-color:transparent" (click)="addBill()"><span class="fa fa-plus fa-lg" aria-hidden="true"></span></button>   
        <button type="button" class="btn" title="Analytics" style="background-color:transparent" (click)="analytics()"><span class="fa fa-bar-chart fa-lg" aria-hidden="true"></span></button> 
        <span class="example-spacer"></span>
        <progressbar max="100" [value]="usageQuota" type="danger" [striped]="true" [animate]="true" style="width: 20em; height: 2em;" title="{{usageQuota}}MB of 100MB"></progressbar>
    </mat-toolbar-row>
</mat-toolbar>
