<mat-toolbar color="primary">
    <mat-toolbar-row> 
        <button type="button" class="btn" title="Home" style="background-color:transparent" (click)="Home()"><span class="fa fa-home fa-lg" aria-hidden="true"></span></button>   
        <button type="button" class="btn" title="Bills" style="background-color:transparent" (click)="BillHome()"><span class="fa fa-money fa-lg" aria-hidden="true"></span></button>   
        <button type="button" class="btn" title="Add Bill" style="background-color:transparent" (click)="addBill()"><span class="fa fa-plus fa-lg" aria-hidden="true"></span></button>   
        <button type="button" class="btn" title="Analytics" style="background-color:transparent" (click)="analytics()"><span class="fa fa-bar-chart fa-lg" aria-hidden="true"></span></button> 
        <button type="button" class="btn" title="Bill Sharing" style="background-color:transparent" (click)="CostSharing()"><span class="fa fa-users fa-lg" aria-hidden="true"></span></button> 
        <span class="example-spacer"></span>
        <font size = "2" color="black">{{GlobalService.usageQuota}}MB / {{GlobalService.maxQuota}}MB &nbsp;</font>
        <progressbar [max]="GlobalService.maxQuota" [value]="GlobalService.usageQuota" type="danger" [striped]="true" [animate]="true" style="width: 20em; height: 2em;" title="{{GlobalService.usageQuota}}MB of {{GlobalService.maxQuota}}MB"></progressbar>
    </mat-toolbar-row>
</mat-toolbar>
