 
.sidenav {
    width: 200px;
    height: 150%;
    position: absolute;
    z-index: 1;
    top: 127px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    overflow-y: visible;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

