<footer class="my-5 pt-5 text-muted text-center text-small" 
style="bottom: 0; position: relative;">
<!-- <p class="mb-1">© Costrajectory</p>
 -->    <ul class="list-inline">
        <li class="list-inline-item" type="button" style="color: brown;" data-toggle="modal" data-target="#privacyModal">AboutUs</li>
        <li class="list-inline-item" style="color: black; padding-left: 15px; padding-right: 15px;">|</li>
        
<!--         <li class="list-inline-item" type="button" style="color: blueviolet" data-toggle="modal" data-target="#FeatureFooterModal">Features</li>-->
       <li class="list-inline-item" type="button" style="color: blueviolet">Features</li>    
        <li class="list-inline-item" style="color: black; padding-left: 15px; padding-right: 15px;">|</li>
        
        <li class="list-inline-item" style="color: blue" (mouseover)='over()' (mouseout)='out()'>
            <img src="assets\images\logo.png" style="height: 35px; width: 60px;" *ngIf="OnMouseHover">
            <img src="assets\images\logo_inverted.png" style="height: 35px; width: 60px;" *ngIf="!OnMouseHover">
        </li>
        <li class="list-inline-item" style="color: black; padding-left: 15px; padding-right: 15px;">|</li>
        
        <li class="list-inline-item" type="button" style="color: black" (click)="RaiseBugReport()">Report bug</li>
        <li class="list-inline-item" style="color: black; padding-left: 15px; padding-right: 15px;">|</li>

        <li class="list-inline-item" type="button" style="color: green" (click)="goToLink('https://mail.google.com/mail/?view=cm&fs=1&to=Costrajectory@gmail.com')" >Costrajectory@gmail.com</li>

    </ul>
</footer>


<div class="modal fade" id="FeatureFooterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <app-about></app-about>
       
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>