<div style="padding-top: 15px; padding-bottom: 15px; padding-left: 15px;">
    <div class="container-fluid">
        <div class="card card-body bg-light">
            <div id="NavbarHouser">
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="  background-image: linear-gradient(to bottom right, red, yellow);        ">
                    <a class="navbar-brand"> {{GroupName}}</a>
                    <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                          <a class="nav-link" type='button'  data-toggle="modal" [attr.data-target]="'#ViewGroupInfo'+FormattedStringId" title="Group Info"><i style="color: rgb(4, 53, 34);" class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                          </a>
                        </li>

                        <!--   <li class="nav-item">
                              <a class="nav-link" type='button' data-toggle="modal" [attr.data-target]="'#ViewAcceptedPeople'+FormattedStringId">Members</a>
                          </li>

                          <li class="nav-item">
                              <a class="nav-link" type='button' data-toggle="modal" [attr.data-target]="'#ViewPendingPeople'+FormattedStringId">Pending</a>
                          </li> -->

                        <li class="nav-item">
                        <a class="nav-link" type='button' data-toggle="modal" [attr.data-target]="'#AllSharedBill'+FormattedStringId">Create Bill</a>
                        </li>

                        
                        
                    </ul>

                    <span class="navbar-text" *ngIf="Username == Admin">
                        <span type="button" title="Exit the group" class="fa fa-sign-out fa-lg" aria-hidden="true" style="color: whitesmoke;" data-toggle="modal" [attr.data-target]="'#ExitGroupAdmin'+FormattedStringId"></span>&nbsp;
                        <span type="button" title="Change Admin" class="fa fa-level-up fa-lg" aria-hidden="true" style="color:chartreuse;" data-toggle="modal" [attr.data-target]="'#MakeGroupAdmin'+FormattedStringId"></span>&nbsp;
                        <span type="button" title="Add users to group" class="fa fa-user-plus fa-lg" aria-hidden="true" style="color: black;" data-toggle="modal" [attr.data-target]="'#AddPeopleToGroupAdmin'+FormattedStringId"></span>&nbsp;
                        <span type="button" title="Delete Users From Group" class="fa fa-user-times fa-lg" aria-hidden="true" style="color: grey;" data-toggle="modal" [attr.data-target]="'#DeletePeopleFromGroupAdmin'+FormattedStringId"></span>&nbsp;
                        <span type="button" title="Delete the Group" class="fa fa-trash fa-lg" aria-hidden="true" style="color: red;" data-toggle="modal" [attr.data-target]="'#DeleteGroupAdmin'+FormattedStringId"></span>&nbsp;
                    </span>

                    <span class="navbar-text" *ngIf="Username != Admin">
                        <span type="button" title="Exit the group" class="fa fa-sign-out fa-lg" aria-hidden="true" style="color:whitesmoke;" data-toggle="modal" [attr.data-target]="'#ExitGroupNotAdmin'+FormattedStringId"></span>&nbsp;
                    </span>

                    </div>
                </nav>
            </div>
            <div class="container-fluid">
              <div class="IndivisualSharedBill" *ngFor="let Bill of Bills; let i = index">
                <app-indivisual-bill
                [BillId]="Bill.bill_id"
                [Amount]="Bill.amount"
                [category]="Bill.category"
                [dateTime]="Bill.datetime"
                [Discription]="Bill.description"
                [GroupId]="Bill.group_id"
                [payer]="Bill.payer"
                [share]="Bill.share"
                [uploader]="Bill.uploader"
                [Username]="Username"
                [BillName]="Bill.title"
                [Participants]="Participants"
                [ImageName]="Bill.image_name"
                [Admin]="Admin"
                (refreshCopy)="RefreshData()"></app-indivisual-bill>
              </div>
            </div>            
       </div>
    </div>
</div>

<!-- Modal For Exiting Group when not an admin -->
<div class="modal fade" [attr.id]="'ExitGroupNotAdmin'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Exit Group? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-size: larger; color: red;">Are you sure you want to leave the group?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ExitGroupNonAdmin()">Yes!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal For Exiting Group when an admin-->
<div class="modal fade" [attr.id]="'ExitGroupAdmin'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Exit Group? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" *ngIf="Participants.length >=2">
          <p style="font-size: larger; color: red;">Make Someone else admin before leaving the group</p>
          <div class="form-group row">
            <div class="col-sm-2">
              <label for="staticEmail" class="col-form-label">Members:</label>
            </div>
            <div class="col-sm-9">
              <select class="custom-select" id="Admin" required [(ngModel)]="NEXTADMIN" name="Adm" aria-describedby="basic-addon4">
                <option value="" disabled>Choose the Next Admin..</option>
                <option *ngFor="let Friend of Participants;" value="{{Friend}}">{{Friend}}</option>
             </select>
            </div>
          </div>
          <p style="font-size: larger; color: red;" *ngIf="!(NEXTADMIN == '' || NEXTADMIN== Username)">Are You sure you want to exit the Group?</p>
        </div>

        <div class="modal-body" *ngIf="Participants.length <=1 ">
          <p style="font-size: larger; color: red;">Are You sure you want to exit the Group?</p>
      </div>

        <div class="modal-footer">
          <button *ngIf="Participants.length >=2" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="(NEXTADMIN == '' || NEXTADMIN== Username)" (click)="ExitGroupAdmin()">OK!</button>
          <button *ngIf="Participants.length <= 1" type="button" class="btn btn-primary" data-dismiss="modal" (click)="ExitGroupNonAdmin()">OK!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal For Deleting Group when an admin-->
<div class="modal fade" [attr.id]="'DeleteGroupAdmin'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Delete Group? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-size: larger; color: red;">Are You sure you wanted to delete the group? , All data will be lost</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteGroup()">Yes!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal For Adding people to Group when an admin-->
  <div class="modal fade" [attr.id]="'AddPeopleToGroupAdmin'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Add People to Group? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #AddPeopleForm="ngForm" (ngSubmit)="AddUsersToGroup(AddPeopleForm)">
        <div class="modal-body">

          
            <div class="grid">
                <div class="grid-item">
                    <div class="container-fluid">

                        <div class="form-group row" *ngFor="let div of divs" id="div{{div}}">
                          <div class="col-sm-2" *ngIf = "div == divs[0]">
                              <label for="staticEmail" class="col-form-label">Participant</label>
                          </div>
                          <div class="col-sm-2" *ngIf = "div !== divs[0]">
                              <label for="staticEmail" class="col-form-label"></label>
                          </div>

                          <div class="col-sm-9">
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon6"><i class="fa fa-user-o fa-lg" aria-hidden="true" style="color:green"></i></span>
                                  </div>
                                  <input #Participant type="email" ngModel name="{{div}}" class="form-control" placeholder="Add participant email ID" aria-describedby="basic-addon6" [readonly]="valid[div]" required/>

                                  <div class="input-group-append">

                                      <button class="btn-large" *ngIf = '!valid[div]' type="button" [disabled]="Participant.value ==''" (click) = "Verify(div,Participant.value)"><i class="fa fa-user-plus fa-lg" title = "Verify user" style="color:red"></i></button>
              <!--                                     <button class="btn-large" type="button" [disabled]="Participant.value ==''" (click) = "deleteDiv(div)"><i id= "spinner" class="fa fa-spinner fa-lg" title = "Delete Participant" style="color:rgb(148, 53, 236)"></i></button>
              -->
                                      <button class="btn-large" *ngIf = 'valid[div]' type="button" [disabled]="Participant.value =='' || !valid[div]"><i class="fa fa-user-plus fa-lg" title = "User Verified" style="color:green"></i></button>

                                      <button class="btn-large" type="button" [disabled]="div == divs[0]" (click) = "deleteDiv(div)"><i class="fa fa-trash fa-lg" title = "Delete Participant" style="color:red"></i></button>
                                      
                                      <button *ngIf = "div == divs[divs.length - 1]" type="button" class="btn-large" [disabled]="Participant.value ==''" (click) = "createDiv()"><i class="fa fa-plus fa-lg" title = "Add Participant" style="color:green"></i></button>
                                  
                                  </div>
                              </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
          

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="!AddPeopleForm.valid || !valid[divs[divs.length - 1]]" (click)="AddUsersToGroup(AddPeopleForm)">OK!</button>
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Cancel</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- Modal For Deleting people from Group when an admin-->
  <div class="modal fade" [attr.id]="'DeletePeopleFromGroupAdmin'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Delete People from Group? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ResetParticipants()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 500px; overflow: hidden;">
            <div class="row">
                <div class="col">
                    <div class="example-container">
                        <h4 style="color: green;">Participants &nbsp;<i class="fa fa-users fa-lg" aria-hidden="true"></i></h4>
                      
                        <div
                          cdkDropList
                          #srcList="cdkDropList"
                          [cdkDropListData]="Participants"
                          [cdkDropListConnectedTo]="[destList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of Participants" cdkDrag [cdkDragDisabled]="item == Username" style="color: rgb(5, 71, 5);">{{item}}</div>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <div class="example-container">
                        <h4 style="color: red;">Deleted &nbsp;<i class="fa fa-user-times fa-lg" aria-hidden="true"></i></h4>
                      
                        <div
                          cdkDropList
                          #destList="cdkDropList"
                          [cdkDropListData]="deletedParticipants"
                          [cdkDropListConnectedTo]="[srcList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of deletedParticipants" cdkDrag style="color: rgb(63, 11, 11);">{{item}}</div>
                        </div>
                      </div>
                </div>
            </div>
            
              

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="DeleteUsersFromGroup()" [disabled]="deletedParticipants.length == 0">OK!</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ResetParticipants()">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal For Making other people admin-->
  <div class="modal fade" [attr.id]="'MakeGroupAdmin'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Change Admin of the group </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="Participants.length >=2 ">
          <div class="form-group row">
            <div class="col-sm-2">
              <label for="staticEmail" class="col-form-label">Members:</label>
            </div>
            <div class="col-sm-9">
              <select class="custom-select" id="Admin" required [(ngModel)]="NEXTADMIN" name="Adm" aria-describedby="basic-addon4">
                <option value="" disabled>Choose the Next Admin..</option>
                <option *ngFor="let Friend of Participants;" value="{{Friend}}">{{Friend}}</option>
             </select>
            </div>
          </div>
        </div>
        <div class="modal-body" *ngIf="Participants.length <=1 ">
            <p style="font-size: larger; color: red;">No one else in the Group!!</p>
        </div>
        <div class="modal-footer">
            <button *ngIf="Participants.length >=2" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="(NEXTADMIN == '' || NEXTADMIN== Username)" (click)="MakeOthersAdmin()">OK!</button>
            <button *ngIf="Participants.length <= 1" type="button" class="btn btn-primary" data-dismiss="modal">OK!</button>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" [attr.id]="'ViewGroupInfo'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"> Group Info </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" style="height: 400px;">

          <div class = "row" style="height: 20px;">
            <div class= "col-md-5">
              <h5>Group Name: </h5>
            </div>
            <div class = "col-md-7">
              <p>{{GroupName}}</p>
            </div>
          </div>

          <hr>

          <div class = "row" style="height: 20px;">
            <div class= "col-md-5">
              <h5>Group Admin: </h5>
            </div>
            <div class = "col-md-7">
              <p>{{Admin}}</p>
            </div>
          </div>

          <hr>

          <div class = "row" style="height: 20px;">
            <div class= "col-md-5">
              <h5>Group Description: </h5>
            </div>
            <div class = "col-md-7">
              <p>{{Description}}</p>
            </div>
          </div>

          <hr>

          <div class = "row">
            <div class= "col-md-5">
              <h5>Group Members: </h5>
            </div>
            <div class = "col-md-7">
              <p *ngFor="let Member of Participants">{{Member}}</p>
            </div>
          </div>

          <hr>

          <div class = "row" *ngIf="PendingUsers.length != 0">
            <div class= "col-md-5">
              <h5>Pending Members: </h5>
            </div>
            <div class = "col-md-7">
              <p *ngFor="let Member of PendingUsers">{{Member}}</p>
            </div>
          </div>

          <hr *ngIf="PendingUsers.length != 0">
          
          <div class = "row" style="height: 20px;">
            <div class= "col-md-5">
              <h5>Group Created Time: </h5>
            </div>
            <div class = "col-md-7">
              <p>{{FormattedDate}}</p>
            </div>
          </div>


          </div>
          

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK!</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal For Adding Group Bill-->
  <div class="modal fade" [attr.id]="'AllSharedBill'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <app-add-shared-bill [Participants]="Participants" [Username]="Username" [BillId]="GroupId" (RefreshData)="RefreshData()"></app-add-shared-bill>
      </div>
    </div>
  </div>


  <div class="modal fade" [attr.id]="'ViewPendingPeople'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"> Pending Users </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <p *ngFor="let Member of PendingUsers">{{Member}}</p>

          </div>
          

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" [attr.id]="'ViewAcceptedPeople'+FormattedStringId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle"> Accepted Users </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          
          <p *ngFor="let Member of Participants">{{Member}}</p>


          </div>
          

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK!</button>
        </div>
      </div>
    </div>
  </div>