.card {
    height: 200px;
    overflow: auto;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
}

.navbar {
    height: 30px;
    position: relative;
    top: -20px;
    left: -20px;
    width: 102%;
}

#NavbarHouser {
    position: sticky;
    top: 0px;
    left: -20px;
    width: 100%;
}