<div style="padding-top: 15px; padding-bottom: 15px; padding-left: 15px;">
    <div class="container-fluid">
        <div class="card card-body bg-light">
            <div id="NavbarHouser">
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="  background-image: linear-gradient(to bottom right, red, yellow);        ">
                    <a class="navbar-brand"> {{GroupName}}</a>
                    <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" type='button' (click)="AcceptedParticipants()">Members</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" type='button' (click)="PendingParticipants()">Pending</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" type='button' (click)="addGroupBill()">Add Bill</a>
                        </li>

                        
                        
                    </ul>

                    <span class="navbar-text" *ngIf="Username == Admin">
                        <span type="button" title="Exit the group" class="fa fa-sign-out fa-lg" aria-hidden="true" style="color: whitesmoke;" (click)="ExitGroup()"></span>&nbsp;
                        <span type="button" title="Make others Admin" class="fa fa-level-up fa-lg" aria-hidden="true" style="color:chartreuse;" (click)="MakeOthersAdmin()"></span>&nbsp;
                        <span type="button" title="Add users to group" class="fa fa-user-plus fa-lg" aria-hidden="true" style="color: black;" (click)="AddUsersToGroup()"></span>&nbsp;
                        <span type="button" title="Delete Users From Group" class="fa fa-user-times fa-lg" aria-hidden="true" style="color: grey;" (click)="DeleteUsersFromGroup()"></span>&nbsp;
                        <span type="button" title="Delete the Group" class="fa fa-trash fa-lg" aria-hidden="true" style="color: red;" (click)="DeleteGroup()"></span>&nbsp;
                    </span>

                    <span class="navbar-text" *ngIf="Username != Admin">
                        <span type="button" title="Exit the group" class="fa fa-sign-out fa-lg" aria-hidden="true" style="color:whitesmoke;" (click)="ExitGroup()"></span>&nbsp;
                    </span>

                    </div>
                </nav>
            </div>
            <p>Well</p>

       </div>
    </div>
</div>