<div style="padding-top: 15px; padding-bottom: 15px; padding-left: 15px;">
    <div class="container-fluid">
        <div class="card card-body bg-light">
            <div id="NavbarHouser">
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                    <a class="navbar-brand"> Group Name</a>
                    <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" type='button'>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" type='button' (click)="addGroupContainer()">Add Group Bill</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" type='button' (click)="addGroupBill()">Add Group</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <span class="fa fa-users fa-lg" aria-hidden="true"></span>
                        <span class="fa fa-users fa-lg" aria-hidden="true"></span>
                        <span class="fa fa-users fa-lg" aria-hidden="true"></span>
                    </span>
                    </div>
                </nav>
            </div>
            <p>Well</p>
            <p>Well</p>
            <p>Well</p>
            <p>Well</p>
            <p>Well</p>
            <p>Well</p>
            <p>Well</p>
            <p>Well</p>
       </div>
    </div>
</div>