<mat-card>
<div class="container-fluid">
    <div class="container">
        <div class="row"  *ngIf="loading == false">
            <div class="col-md-6">

                <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                        <label>Email:</label>
                        <input 
                            type="email"
                            id="email" 
                            class="form-control" 
                            required
                            email 
                            placeholder="Enter email"
                            ngModel
                            name="email"           
                         />

                        
                        <label>Password:</label>
                        <input 
                            type="password"                         
                            id="password"
                            class="form-control" 
                            placeholder="Enter password" 
                            minlength="6"
                            required
                            ngModel
                            name="password"
                        />

                        
                        <label>Retype Password:</label>
                        <input 
                            type="password"                         
                            id="cpassword"
                            class="form-control" 
                            placeholder="Retype password" 
                            minlength="6"
                            required
                            ngModel
                            name="cpassword"
                        />
                    
                    <div>
                        <button
                            class = "btn btn-primary"
                            type = "submit"
                            [disabled]="!signupForm.valid">
                            Signup
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <img src='https://static.thenounproject.com/png/736683-200.png' style="width:250px;height:250px;">
            </div>
        </div>
        
        <div class="loaderContainer"><div class="loader" *ngIf="loading == true"></div></div>
    </div>
</div>
</mat-card>
