<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Accept Requests!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding-top: 0; padding-bottom: 0;" *ngIf="RequestId != 0">
      <div class="modal-body" type="button" [attr.id]="RequestId == 1 ? 'GroupRequestsActive': 'GroupRequestsInActive'" (click)="ChangeRequestType(1)">
        <p style="padding-top: 0; padding-bottom: 0; position: relative; left:200px; top:-13px;"><b>Group Requests</b></p>
      </div>
      <div class="modal-body" type="button" [attr.id]="RequestId == 2 ? 'AddUsersActive': 'AddUsersInActive'" (click)="ChangeRequestType(2)">
        <p style="padding-top: 0; padding-bottom: 0; position: relative; right:-10px; top:-13px;"><b>Add People Reqests</b></p>
      </div>
    </div>
    
    <div class="modal-body" *ngIf="GroupData != 'False' && RequestId == 1" style="padding-top: 0; padding-bottom: 0;">
      <app-group-accept style="padding-top: 0; padding-bottom: 0;" (decision)="DecisionGroup($event)" *ngFor="let Group of GroupData; let i = index" [GroupName]="Group[1]" [GroupID]= "ParseInt(Group[0], 10)" [RequestType]="1"></app-group-accept>
    </div>
    <div class="modal-body" *ngIf="GroupData == 'False' && RequestId == 1">
      <h5 style="color: green;"> NO REQUESTS AVAILABLE!!</h5>      
    </div>

    <div class="modal-body" *ngIf="PeopleAdd.length != 0 && RequestId == 2" style="padding-top: 0; padding-bottom: 0;">
      <app-group-accept style="padding-top: 0; padding-bottom: 0;" (decision)="DecisionAdminAdd($event)" *ngFor="let RequestsAdd of PeopleAdd; let i = index" 
      [GroupName]="RequestsAdd.group_title" 
      [GroupID]= "ParseInt(RequestsAdd.group_id, 10)" 
      [RequestType]="2"
      [UserToBeAddedOrRemoved]="RequestsAdd.username" ></app-group-accept>
    </div>
    <hr *ngIf="PeopleAdd.length != 0 && RequestId == 2">
    <div class="modal-body" *ngIf="PeopleRemove.length != 0 && RequestId == 2" style="padding-top: 0; padding-bottom: 0;">
      <app-group-accept style="padding-top: 0; padding-bottom: 0;" (decision)="DecisionAdminRemove($event)" *ngFor="let RequestsRemove of PeopleRemove; let i = index" 
      [GroupName]="RequestsRemove.group_title" 
      [GroupID]= "ParseInt(RequestsRemove.group_id, 10)" 
      [RequestType]="3"
      [UserToBeAddedOrRemoved]="RequestsRemove.username"></app-group-accept>
    </div>
    <div class="modal-body" *ngIf="PeopleAdd.length == 0 && PeopleRemove.length == 0 && RequestId == 2">
      <h5 style="color: green;"> NO REQUESTS AVAILABLE!!</h5>      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDialog()">Cancel</button>
    </div>
  </div>