#GroupRequestsActive {
    background-color: blue; 
    height: 10px; 
    width: 50%; 
    display: inline-block;  
    }
  
  
  #GroupRequestsInActive {
    background-color: blue; 
    height: 10px; 
    width: 50%; 
    display: inline-block;  
    background-image: -webkit-linear-gradient(30deg, white 20%, blue 80%);
  }
  
  #AddUsersActive {
    background-color: green; 
    height: 10px; 
    width: 50%; 
    display: inline-block;  
  }
  
  #AddUsersInActive {
    background-color: green; 
    height: 10px; 
    width: 50%; 
    display: inline-block;  
    background-image: -webkit-linear-gradient(150deg,  white 20%, green 80%);
  }
